*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.fluid-container, .container{
    background-color: #362B35;
}

.header{
    order: 1;
    background-color: #362B35;
    box-shadow: 0px 0px 100px #852E85;
}
.header .logo{
    
    height: 120px;
    width: 350px;
}

/* Menu de Navegacion */
nav{
    justify-content: center;
    align-items: center;
}

/* Contenido Principal */
.principalI{
    height: 90vh;
}
.row h1{
    font-size: 1.6rem;
    text-align: center;
    width: 250px;
    border: 1px solid #852E85;
    background-color: white;
    color: black;
}

.row a{
    color: white;
    text-decoration: none;
    -webkit-text-stroke: 2px  solid black;
    font-size: 1.3rem;
    bottom: 0px;    
}

.principal figure{
    position: relative;
    /* height: 90%;
    max-width: 900px; */
    height: 140px;
    width: 270px;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #852E85;
    box-shadow: 0px 0px 15px #852E85;
}

figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.row .texto{
    position: relative;
    height: 300px;
    width: 800px;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #852E85;
    box-shadow: 0px 0px 10px #852E85;
}

.row .texto img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

figure .capa{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
    text-align: center;
}
.row{
    color: white;
}

.row .publicacion{
    width: 450px;
    box-shadow: 0px 0px 50px #852E85;
}
.row .caja{
    height: 30px;
    box-shadow: 0px 0px 30px #852E85;
}

.row .txtcaja{
    font-size: 1.2rem;
}

/* Pie de Pagina */
.footer div{
    background-color: black;
}

.col-sm-12{
    font-size: 0.9;
}
.col-sm-12 .row .publicacion{
    width: 350px;
}
.col-lg-8 .row .publicacion{
    width: 450px;
}
.footer a{
    color: white;
    text-decoration: none;
}



.container-slider{
    width: 100%;

    max-width: 900px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 0 0 1px black, 
                0px 0px 40px #852E85;

    position: relative;
}

.slider{
    display: flex;
    width: 400%;
    height: 300px;
    margin-left: -100%;
}

.slider__section{
    width: 100%;
}

.slider__img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider__btn
{
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.7);
    top:50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.slider__btn:hover{
    background: #fff;
}

.slider__btn--left{
    left: 10px;
}
.slider__btn--right{
    right: 10px;
}

.principal div .fSlider{
    position: relative;
    height: 100%;
    max-width: 900px; 
    /* height: 400px;
    width: 270px; */
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #852E85;
    box-shadow: 0px 0px 30px #852E85;
}

.fSlider img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.fSlider .tSlider{
    color: white;
    text-decoration: none;
    -webkit-text-stroke: 20px  solid black;
    font-size: 3rem;
    bottom: 0px;    
}

div .capa{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
    text-align: center;
}
